.modal-overylay {
  z-index: 999;
}

.modal-container {
}
.about-modal {
  z-index: 9999;
  margin: auto;
  position: absolute;
  padding: 15px;
  padding-top: 0;
  top: 0;
  left: 20%;
  width: 60%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.about-modal:focus {
  outline: 0;
}
